<div class="arr-quick-options">
    <p class="arr-quick-options-hint">{{localize "RR.QuickOptions.Hint"}}</p>
    <div class="arr-quick-options-row flexrow">
        <label for="arr-quick-dc">{{localize "RR.Dialog.DC"}}</label>
        <input type="number" step="any" id="arr-quick-dc" placeholder="{{localize "RR.Common.Optional"}}" />
    </div>
    <div class="arr-quick-options-row flexrow">
        <label for="arr-quick-flavor">{{localize "RR.Dialog.FlavorText"}}</label>
        <input type="text" id="arr-quick-flavor" placeholder="{{localize "RR.Dialog.FlavorPlaceholder"}}" />
    </div>
</div>
