<div class="arr-options-config">
    <fieldset class="arr-fieldset">
        <legend>{{localize "RR.OptionsConfig.CategoriesLegend"}}</legend>
        <p class="arr-config-hint">{{localize "RR.OptionsConfig.CategoriesHint"}}</p>
        {{#each categories}}
        <label class="arr-config-row flexrow">
            <input type="checkbox" name="category" value="{{this.id}}" {{checked this.enabled}} />
            <span class="arr-config-name">{{this.label}}</span>
        </label>
        {{/each}}
    </fieldset>

    <fieldset class="arr-fieldset">
        <legend>{{localize "RR.OptionsConfig.QuickLegend"}}</legend>
        <p class="arr-config-hint">{{localize "RR.OptionsConfig.QuickHint"}}</p>
        {{#each quickActions}}
        <label class="arr-config-row flexrow">
            <input type="checkbox" name="quick" value="{{this.key}}" {{checked this.enabled}} />
            <span class="arr-config-name">{{this.label}}</span>
        </label>
        {{else}}
        <span class="arr-no-actors-msg">{{localize "RR.OptionsConfig.NoQuick"}}</span>
        {{/each}}
    </fieldset>
</div>
